*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header{
     background: linear-gradient(135deg, #8B0000, #e3651d);
    padding: 20px;
    text-align: center;
   font-size: 25px;
}

header h1{
    margin-bottom: 25px;
    color: black;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    color: blue;
    text-decoration: none;
    
}

nav ul li a:hover{
    text-decoration: underline;
}

.search-box{
    max-width:  800px;
    margin: 30px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-box input{
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 18px;
}

.hero{
    /*background-image: url("img/MainBG.jpg");*/
    background: linear-gradient(135deg, #f1f8e9, #dcedc8);
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 40px 0px;
}

.hero h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.hero a {
    font-size: 20px;
    margin-bottom: 30px;
}

.order-button{
    display: block;
    margin: 0 auto;
    margin-top: 10px !important;
    background-color: #ff5733;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 300ms all;
}

.promotion, .featured, .sweets{
max-width: 1200px;
margin: 20px auto;
position: relative;
}

.promotion h2,
.featured h2,
.sweets h2{
    margin-bottom: 15px;
    margin-top: 60px;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item{
    width: calc(25% - 20px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.menu-item:hover{
    transition: 300ms all;
    transform: scale(1.03);
}

.menu-item img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item h3,
.menu-item p{
    margin-bottom: 15px;
}

.menu-item span{
    display: block;
    font-weight: bold;
    color: green;
}

del{
    color: red;
    opacity: 0.7;
}

.tag{
    background-color: #ff5733;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    font-size: 12px;
    top: -10px;
    right: -5px;
}

.footer{
    background-color: #e3651d;
    color: black;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
}

.footer a{
    color: aqua
}

@media only screen and (max-width: 480px){
    .sweets{
        text-align: center;
    }

    .promotion,
    .featured{
        text-align: center;
    }

    .menu-item{
        margin: 15px auto;
    }

}